/*Formattazzione foglio*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header{
    height: 10vh;
    background-color: #ffccb3;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    font-family: 'Great Vibes', cursive;
    font-family: 'Tangerine', cursive;
    font-size: 2rem;
}

header > h1:hover{
    color:rgb(255, 252, 236);
}

/*Formattazione sezione prodotti*/

.prodotti{
    width: 1400px;
    height: auto;
    margin:50px auto;
    text-align: center;
    background-color: white;
}

.foto_prodotto{
    width: 300px;
    height: 430px;
    margin:10px;
    
}

.prodotto{
    position:relative;
    display:inline-block;
    margin:1rem;
    
   
}

.rosso{
    position:absolute;
    bottom:0;
    
    margin:20px;
    background-color: red;
}

.verde{
    
    position: absolute;
    bottom:0;
    right:160px;
    margin:20px;
    background-color: green;
    
}

.cuore{
    position:absolute;
    top:0;
    right:0;
    margin-right:10px;
    margin-top: 10px;
    font-size: 27px;
    visibility: hidden;
    color:rgb(226, 117, 117);
}

.prodotto:hover .cuore{
    visibility: visible;
}

.levis{
    position: absolute;
    margin-top: -11px;
    margin-left: 10px;
}

.descrizione{
    position:absolute;
    margin-left: 10px
}

.costo{
    position:absolute;
    margin-top: 20px;
    margin-left: 10px;
    color:darkgrey;
    
}
.taglia{
    text-decoration: line-through;
    color:grey;
    margin:20px;
}

span{
    color:red;
}

