/*Formattazzione foglio*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header{
    height: 10vh;
    background-color: #ffccb3;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    font-family: 'Great Vibes', cursive;
    font-family: 'Tangerine', cursive;
    font-size: 2rem;
    letter-spacing: 7px;
    cursor:pointer;
}

header > h1:hover{
    color:rgb(255, 252, 236);
}

/*Formattazione sezione prodotti*/

.prodotti{
    width: 1400px;
    height: auto;
    margin:50px auto;
    text-align: center;
    background-color: white;
}

.foto_prodotto, .photo_hover{
    width: 300px;
    height: 430px;
    margin:10px;
    cursor:pointer;
}

.prodotto{
    position:relative;
    display:inline-block;
    margin:1rem;
    }

.photo_hover{
    
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
}

.prodotto:hover img.photo_hover{
    opacity:1;
    transition: 1s ease;
}



.rosso{
    position:absolute;
    bottom:0;
    color:white;
    margin:20px;
    background-color: red;
}

.verde{
    
    position: absolute;
    bottom:0;
    right:160px;
    margin:20px;
    background-color: green;
    color:white;
    
}
.verdino{
    position:absolute;
    bottom:0;
    left:0;
    background-color: green;
    margin:20px;
    color:white;
}

.cuore{
    position:absolute;
    top:0;
    right:0;
    margin-right:10px;
    margin-top: 10px;
    font-size: 27px;
    visibility: hidden;
    color:rgb(226, 117, 117);
}

.prodotto:hover .cuore{
    visibility: visible;
}

.levis{
    position: absolute;
    margin-top: -11px;
    margin-left: 10px;
}

.descrizione{
    position:absolute;
    margin-left: 10px
}

.costo{
    position:absolute;
    margin-top: 20px;
    margin-left: 10px;
    color:darkgrey;
    
}
.taglia{
    text-decoration: line-through;
    color:grey;
    margin:20px;
}

span{
    color:red;
}




